body {
    background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100% );
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    overflow:hidden; 
    
    
}
.wrapper-pressure{
    background-color: grey;
}



 .icons {
    width:200px;
    display:inline-block;
    flex-direction: row;
    border:black solid 2px;
    margin:0 10px;
    padding:15px 0;
    
} 

.image, .maxValues, .minValues, h3, p{
    text-align: center;
}

